.character-presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  align-items: flex-start;
}

.comic-presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100px;
  margin: 10px;
}

.comics-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

.comic-picture {
  box-shadow: #030303 0px 20px 30px -10px;
  width: 100px;
  height: 150px;
  object-fit: cover;
}

.character-card-id {
  position: sticky;
  top: 0;
}

.comic-text {
  margin-top: 20px;
}

.comic-presentation > * {
  transition: all 0.3s;
}

.comic-presentation:hover > .comic-text {
  color: red;
}

.comic-presentation:hover > .comic-picture {
  transform: translateY(-20px);
}
