.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 32, 32);
  color: white;
}

h2 {
  padding: 5px;
}

button {
  font-family: "Roboto Condensed";
  background-color: rgb(32, 32, 32);
  color: #ed1d24;
  padding: 10px;
  font-size: 13px;
  /* font-style: italic; */
  border: 1px solid red;
  /* border-radius: 5px; */
}

.img-notFound {
  width: 90%;
  margin: 10px;
  border-radius: 5px;
}
